<div class="user-container animate__animated animate__fadeIn animate__faster">
  <div class="head-container d-flex justify-content-between align-items-center">
    <h1 class="mb-0">User</h1>
    <div>
      <button
        routerLink="/users"
        class="btn btn-danger d-flex align-items-center"
      >
        <span class="material-icons mr-2"> assignment_return </span>
        Return
      </button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="saveForm()">
        <div class="form-group" *ngIf="showFirebaseID">
          <label>Firebase ID</label>
          <input
            type="text"
            class="form-control"
            placeholder="Firebase ID"
            formControlName="id"
            (input)="user.id = $event.target.value"
          />
          <small class="form-text text-muted"> This field is automatic</small>
        </div>

        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            class="form-control w-50"
            placeholder="Name"
            formControlName="name"
            (input)="user.name = $event.target.value"
          />
        </div>

        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control w-50"
            placeholder="Username"
            formControlName="username"
            (input)="user.username = $event.target.value"
          />
        </div>

        <div class="form-group">
          <label>Status</label>
          <br />
          <button
            *ngIf="user.status"
            (click)="updateStatus()"
            class="btn btn-outline-success w-25 d-flex align-items-center"
            type="button"
          >
            <span class="material-icons mr-2"> sentiment_satisfied_alt </span>
            Active
          </button>

          <button
            *ngIf="!user.status"
            (click)="updateStatus()"
            class="btn btn-outline-danger w-25 d-flex align-items-center"
            type="button"
          >
            <span class="material-icons mr-2"> sentiment_dissatisfied </span>
            Inactive
          </button>
        </div>

        <hr />

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary w-25 d-flex align-items-center justify-content-center"
          >
            <span class="material-icons mr-2"> save </span>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
